.dygraph-title {color: navy; font-weight: bold; font-size: 14px;}

.dygraph-axis-label {font-size: 11px;}

.skin-blue .main-header .logo {background-color:#012F6B;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  text-align:left;
  font-weight:bold;
}

.skin-blue .main-header .logo:hover {background-color:#012F6B;}

.skin-blue .main-header .navbar {background-color:#012F6B;}

.box-comments {background: white;}

body{background-image: url("background.png");}
